@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.content-icon5 {
  position: relative;
  border-radius: var(--br-5xs);
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.logomark5,
.logotype-icon5 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.logomark5 {
  width: 22.54%;
  right: 77.46%;
  left: 0;
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logotype-icon5 {
  width: 70.42%;
  right: 0;
  left: 29.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logo-wrap5 {
  position: relative;
  width: 142px;
  height: 32px;
}
.logo5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text68 {
  position: relative;
  line-height: 24px;
}
.chevron-down-icon4 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-base36 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.dropdown-header-navigation-tri4 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-9xs) 0;
  align-items: center;
  justify-content: flex-start;
}
.button-base38 {
  display: flex;
  justify-content: center;
}
.button-base38,
.content37,
.navigation1 {
  flex-direction: row;
  align-items: center;
}
.navigation1 {
  display: none;
  justify-content: space-between;
}
.content37 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.button-base39,
.button36 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
}
.button-base39 {
  background-color: var(--white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--main-visa-deep-blue);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
}
.button36 {
  align-items: flex-start;
  justify-content: flex-start;
}
.button-base40 {
  background-color: var(--white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  display: flex;
  padding: var(--padding-3xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
}
.button-base40,
.button-base41,
.button37 {
  border-radius: var(--br-5xs);
  flex-direction: row;
}
.button37 {
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--gray-700);
}
.button-base41 {
  background-color: var(--main-visa-deep-blue);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--primary-600);
  overflow: hidden;
  display: flex;
  padding: var(--padding-3xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
}
.button38,
.navigation-actions3 {
  flex-direction: row;
  justify-content: flex-start;
}
.button38 {
  border-radius: var(--br-5xs);
  display: flex;
  align-items: flex-start;
  color: var(--white);
}
.navigation-actions3 {
  display: none;
  align-items: center;
  gap: var(--gap-xs);
}
.container12,
.header2 {
  display: flex;
  align-items: center;
}
.container12 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.header2 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
}
.full-width-header-navigation2 {
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-100);
  box-sizing: border-box;
  height: 80px;
  z-index: 1;
}
.full-width-header-navigation2,
.heading13,
.supporting-text25 {
  align-self: stretch;
  position: relative;
}
.heading13 {
  letter-spacing: -0.02em;
  line-height: 44px;
}
.supporting-text25 {
  font-size: var(--text-xl-regular-size);
  line-height: 30px;
  color: var(--gray-500);
}
.content38,
.heading-and-supporting-text13 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.heading-and-supporting-text13 {
  width: 674px;
  gap: var(--gap-5xl);
}
.content38 {
  align-self: stretch;
}
.label9 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.input9 {
  border: 1px solid var(--gray-300);
  font-family: var(--text-sm-semibold);
  font-size: var(--text-md-semibold-size);
  background-color: var(--white);
  align-self: stretch;
  border-radius: var(--br-5xs);
  box-shadow: var(--shadow-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm);
  align-items: center;
  justify-content: flex-start;
}
.hint-text9 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  color: var(--gray-500);
  display: none;
}
.input-field-base9,
.input-field9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field-base9 {
  align-self: stretch;
  gap: var(--gap-7xs);
}
.input-field9 {
  width: 360px;
}
.input-field10,
.input10 {
  align-self: stretch;
  display: flex;
}
.input10 {
  border: 1px solid var(--gray-300);
  font-family: var(--text-sm-semibold);
  font-size: var(--text-md-semibold-size);
  background-color: var(--white);
  border-radius: var(--br-5xs);
  box-shadow: var(--shadow-xs);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.input-field10 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input11,
.text74 {
  font-size: var(--text-md-semibold-size);
  font-family: var(--text-sm-semibold);
}
.input11 {
  border: 1px solid var(--gray-300);
  background-color: var(--white);
  align-self: stretch;
  border-radius: var(--br-5xs);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm);
  align-items: center;
  justify-content: flex-start;
}
.text74 {
  flex: 1;
  position: relative;
  line-height: 24px;
  color: var(--white);
  text-align: center;
}
.button-base42 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--main-visa-deep-blue);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--main-visa-deep-blue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
}
.actions12,
.button39 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button39 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  flex-direction: row;
}
.actions12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 360px;
  flex-direction: column;
}
.actions12:hover {
  animation: 1s ease 0s 1 normal none scale-up;
  opacity: 1;
}
.content40 {
  align-self: stretch;
  border-radius: var(--br-xs);
  gap: var(--gap-5xl);
}
.container14,
.content39,
.content40 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.container14 {
  align-self: stretch;
  padding: 0 var(--padding-13xl);
  text-align: left;
  font-size: var(--text-sm-semibold-size);
  color: var(--gray-700);
}
.container13 {
  align-self: stretch;
  padding: 0 0 var(--padding-11xl);
  gap: var(--gap-13xl);
}
.bank-detail,
.container13,
.hero-header-section2,
.section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.section4 {
  align-self: stretch;
  background-color: var(--gray-25);
  padding: var(--padding-21xl) 0 var(--padding-251xl);
  z-index: 0;
  text-align: center;
  font-size: var(--display-md-semibold-size);
  color: var(--gray-900);
}
.bank-detail,
.hero-header-section2 {
  background-color: var(--white);
  overflow: hidden;
}
.hero-header-section2 {
  align-self: stretch;
}
.bank-detail {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: var(--text-md-semibold-size);
  color: var(--main-visa-deep-blue);
  font-family: var(--text-sm-semibold);
}
@media screen and (max-width: 960px) {
  .container12 {
    flex-direction: column;
    gap: var(--gap-8xs);
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .container12 {
    flex-direction: column;
    gap: var(--gap-8xs);
    align-items: center;
    justify-content: center;
  }
}
