@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.content-icon7 {
  position: relative;
  border-radius: var(--br-5xs);
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.logomark7,
.logotype-icon7 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.logomark7 {
  width: 22.54%;
  right: 77.46%;
  left: 0;
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logotype-icon7 {
  width: 70.42%;
  right: 0;
  left: 29.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logo-wrap7 {
  position: relative;
  width: 142px;
  height: 32px;
}
.logo7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text82 {
  position: relative;
  line-height: 24px;
}
.chevron-down-icon8 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-base50 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.dropdown-header-navigation-tri8 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-9xs) 0;
  align-items: center;
  justify-content: flex-start;
}
.button-base52 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button49,
.content45,
.navigation3 {
  flex-direction: row;
  justify-content: flex-start;
}
.button49 {
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.content45,
.navigation3 {
  align-items: center;
}
.navigation3 {
  width: 279px;
  display: none;
  gap: var(--gap-13xl);
}
.content45 {
  display: flex;
  gap: var(--gap-2xs);
}
.button-base53,
.button50 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
}
.button-base53 {
  background-color: var(--white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--main-visa-deep-blue);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
}
.button50 {
  align-items: flex-start;
  justify-content: flex-start;
}
.button-base54 {
  background-color: var(--white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  display: flex;
  padding: var(--padding-3xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
}
.button-base54,
.button-base55,
.button51 {
  border-radius: var(--br-5xs);
  flex-direction: row;
}
.button51 {
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--gray-700);
}
.button-base55 {
  background-color: var(--main-visa-deep-blue);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--primary-600);
  overflow: hidden;
  display: flex;
  padding: var(--padding-3xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
}
.button52,
.navigation-actions5 {
  flex-direction: row;
  justify-content: flex-start;
}
.button52 {
  border-radius: var(--br-5xs);
  display: flex;
  align-items: flex-start;
  color: var(--white);
}
.navigation-actions5 {
  display: none;
  align-items: center;
  gap: var(--gap-xs);
}
.container19,
.header4 {
  display: flex;
  align-items: center;
}
.container19 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.header4 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
}
.full-width-header-navigation4 {
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-100);
  box-sizing: border-box;
  height: 80px;
  z-index: 1;
}
.full-width-header-navigation4,
.heading15,
.supporting-text27 {
  align-self: stretch;
  position: relative;
}
.heading15 {
  letter-spacing: -0.02em;
  line-height: 44px;
}
.supporting-text27 {
  font-size: var(--text-xl-regular-size);
  line-height: 30px;
  color: var(--gray-500);
}
.content46,
.heading-and-supporting-text15 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.heading-and-supporting-text15 {
  width: 674px;
  gap: var(--gap-5xl);
}
.content46 {
  align-self: stretch;
}
.label15 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.input15 {
  border: 1px solid var(--gray-300);
  font-family: var(--text-sm-semibold);
  font-size: var(--text-md-semibold-size);
  background-color: var(--white);
  align-self: stretch;
  border-radius: var(--br-5xs);
  box-shadow: var(--shadow-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm);
  align-items: center;
  justify-content: flex-start;
}
.hint-text15 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
  color: var(--gray-500);
}
.input-field-base15 {
  gap: var(--gap-7xs);
}
.form4,
.input-field-base15 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text88 {
  flex: 1;
  position: relative;
  font-size: var(--text-md-semibold-size);
  line-height: 24px;
  font-family: var(--text-sm-semibold);
  color: var(--white);
  text-align: center;
}
.button-base56 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--main-visa-deep-blue);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--main-visa-deep-blue);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
}
.actions14,
.button53 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button53 {
  border-radius: var(--br-5xs);
  flex-direction: row;
}
.actions14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: column;
}
.actions14:hover {
  animation: 1s ease 0s 1 normal none scale-up;
  opacity: 1;
}
.content48 {
  border-radius: var(--br-xs);
  width: 360px;
  gap: var(--gap-5xl);
}
.container21,
.content47,
.content48 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.container21 {
  align-self: stretch;
  padding: 0 var(--padding-13xl);
  text-align: left;
  font-size: var(--text-sm-semibold-size);
  color: var(--gray-700);
}
.container20 {
  align-self: stretch;
  padding: 0 0 var(--padding-11xl);
  gap: var(--gap-13xl);
}
.container20,
.create-password,
.hero-header-section4,
.section6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.section6 {
  align-self: stretch;
  background-color: var(--gray-25);
  padding: var(--padding-21xl) 0 var(--padding-251xl);
  z-index: 0;
  text-align: center;
  font-size: var(--display-md-semibold-size);
  color: var(--gray-900);
}
.create-password,
.hero-header-section4 {
  background-color: var(--white);
  overflow: hidden;
}
.hero-header-section4 {
  align-self: stretch;
}
.create-password {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: var(--text-md-semibold-size);
  color: var(--main-visa-deep-blue);
  font-family: var(--text-sm-semibold);
}
@media screen and (max-width: 960px) {
  .container19 {
    flex-direction: column;
    gap: var(--gap-0);
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .container19 {
    flex-direction: column;
    gap: var(--gap-0);
    align-items: center;
    justify-content: center;
  }
}
