@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.arrow-left-circle-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.arrow-left-circle-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.content-icon8 {
  position: relative;
  border-radius: var(--br-5xs);
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.logomark8,
.logotype-icon8 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.logomark8 {
  width: 22.54%;
  right: 77.46%;
  left: 0;
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logotype-icon8 {
  width: 70.42%;
  right: 0;
  left: 29.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logo-wrap8 {
  position: relative;
  width: 142px;
  height: 32px;
}
.logo8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text89 {
  position: relative;
  line-height: 24px;
}
.chevron-down-icon10 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-base57 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.dropdown-header-navigation-tri10 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-9xs) 0;
  align-items: center;
  justify-content: flex-start;
}
.button-base59,
.navigation4 {
  flex-direction: row;
  align-items: center;
}
.button-base59 {
  display: flex;
  justify-content: center;
}
.navigation4 {
  display: none;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.container22,
.content49,
.header5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content49 {
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.container22,
.header5 {
  width: 634px;
  justify-content: space-between;
}
.header5 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  flex-direction: column;
  justify-content: center;
}
.full-width-header-navigation5 {
  position: relative;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-100);
  box-sizing: border-box;
  width: 1440px;
  height: 80px;
  z-index: 2;
}
.button-base63,
.button60 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
}
.button-base63 {
  background-color: var(--white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--main-visa-deep-blue);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
}
.button60 {
  align-items: flex-start;
  justify-content: flex-start;
}
.button-base64 {
  background-color: var(--white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  display: flex;
  padding: var(--padding-3xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
}
.button-base64,
.button-base65,
.button61,
.button62 {
  border-radius: var(--br-5xs);
  flex-direction: row;
}
.button61 {
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--gray-700);
}
.button-base65,
.button62 {
  display: flex;
}
.button-base65 {
  background-color: var(--main-visa-deep-blue);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--primary-600);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
}
.button62 {
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--white);
}
.container23,
.navigation-actions6 {
  flex-direction: row;
  align-items: center;
}
.navigation-actions6 {
  display: none;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.container23 {
  width: 1333px;
  display: flex;
  justify-content: space-between;
}
.full-width-header-navigation6 {
  position: relative;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-100);
  box-sizing: border-box;
  width: 1440px;
  height: 80px;
  z-index: 1;
}
.featured-icon {
  position: relative;
  border-radius: var(--br-9xl);
  width: 56px;
  height: 56px;
}
.text98,
.weve-sent-a-container {
  position: relative;
  line-height: 28px;
  display: inline-block;
  width: 360px;
}
.weve-sent-a-container {
  font-size: var(--text-sm-semibold-size);
  line-height: 20px;
  color: var(--gray-500);
}
.text-and-supporting-text17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.input19,
.mega-input-field-base {
  font-weight: 500;
  font-family: var(--text-sm-semibold);
  font-size: var(--display-lg-semibold-size);
  border-radius: var(--br-5xs);
  display: flex;
  justify-content: flex-start;
}
.mega-input-field-base {
  border: 0;
  background-color: transparent;
  width: 80px;
  flex-direction: column;
  align-items: flex-start;
}
.input19 {
  border: 1px solid var(--gray-300);
  background-color: var(--white);
  align-self: stretch;
  box-shadow: var(--shadow-xs);
  box-sizing: border-box;
  height: 80px;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
}
.mega-input-field-base2,
.mega-input-field-base3 {
  border-radius: var(--br-5xs);
  flex-direction: column;
}
.mega-input-field-base2 {
  width: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.mega-input-field-base3 {
  border: 4px solid var(--gray-100);
  box-sizing: border-box;
  width: 88px;
}
.input-with-label17,
.input18,
.mega-input-field-base3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input18 {
  flex-direction: row;
  gap: var(--gap-xs);
}
.input-with-label17 {
  align-self: stretch;
  flex-direction: column;
}
.hint-text17 {
  align-self: stretch;
  position: relative;
  line-height: 20px;
}
.content52,
.input17,
.verification-code-input-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.verification-code-input-field {
  align-items: flex-start;
  gap: var(--gap-7xs);
}
.content52,
.input17 {
  align-self: stretch;
  align-items: center;
}
.input17 {
  font-size: var(--text-sm-semibold-size);
  color: var(--gray-500);
}
.content52 {
  gap: var(--gap-xl);
}
.text99 {
  position: relative;
  font-size: var(--text-md-semibold-size);
  line-height: 24px;
  font-family: var(--text-sm-semibold);
  color: var(--white);
  text-align: left;
}
.button-base66,
.button63 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
}
.button-base66 {
  flex: 1;
  background-color: var(--main-visa-deep-blue);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--main-visa-deep-blue);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
}
.button63 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.actions15,
.content51,
.content53 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.actions15 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  align-items: flex-start;
}
.actions15:hover,
.content53:hover {
  animation: 1s ease 0s 1 normal none scale-up;
  opacity: 1;
}
.content51,
.content53 {
  align-items: center;
}
.content53 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-xs);
}
.content51 {
  width: 360px;
  gap: var(--gap-13xl);
}
.container25 {
  padding: 0 var(--padding-13xl);
}
.container24,
.container25,
.hero-header-section5,
.section7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.container24 {
  padding: 0 0 var(--padding-11xl);
}
.hero-header-section5,
.section7 {
  background-color: var(--white);
}
.section7 {
  padding: var(--padding-21xl) 0 0;
  z-index: 0;
  text-align: center;
  font-size: var(--text-lg-medium-size);
  color: var(--gray-900);
}
.hero-header-section5 {
  overflow: hidden;
  padding: 0 0 var(--padding-341xl);
}
.divider-icon2 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 1px;
  flex-shrink: 0;
}
.container26 {
  width: 1280px;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider3,
.reset-otp {
  background-color: var(--white);
  display: flex;
}
.divider3 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.reset-otp {
  position: relative;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--text-md-semibold-size);
  color: var(--main-visa-deep-blue);
  font-family: var(--text-sm-semibold);
}
